<body>
	
	<div id="vueapp">
		<h1>{{ msg }}</h1>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js" integrity="sha256-0rNBIaIMGY7KaD8u+PwjVYX8kMjvxxeKCKviu5+tFuk=" crossorigin="anonymous"></script>
	<script src="/js/myjs.js" type="text/javascript" charset="utf-8" async defer></script>
	<link rel="stylesheet" type="text/css" href="/styles/mycustomview.css">

</body>